:root {
  --color-quicksand: #BA9B8D;
  --color-buccaneer: #6F323C;
  --color-fuscous-gray: #585651;
  --color-ironstone: #814A38;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-quicksand);
}
